{% extends 'base.html' %}

{% block content %}
    <div class="center-content">
        <div class="card">
            <h1>Add New Product</h1>
        </div>

        <form method="POST">
            {% csrf_token %}
            <table class="form-input" style="background-color: white; text-align: left; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); opacity: 0.9;">
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Product" class="button">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}