{% extends 'base.html' %}

{% block content %}
    <div class="center-content">
        <div class="card">
            <h1>Warung Uncle Muthu</h1>
            <p>Hello <b>{{ name }}</b> from <b>{{ class }}</b>!</p>
        </div>

        <div class="card">
            <!-- Fitur untuk menampilkan pesan jumlah item -->
            <p class="item-count">Kamu menyimpan {{ products|length }} item pada aplikasi ini.</p>

            <table border="1">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Date Added</th>
                    <th>Activity</th>
                </tr>
            
                {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
            
                {% for product in products %}
                    <tr>
                        <td class="form-input">{{product.name}}</td>
                        <td class="form-input">Rp{{product.price}}</td>
                        <td class="form-input">{{product.description}}</td>
                        <td class="form-input" style="display: flex; flex-direction: row; justify-content: center; align-items: center;" >

                            <!-- substract button -->
                            <form method="post" action="{% url 'main:subtract_amount' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="subtract-button" style="border-width: 0; margin-right: 10px;">-</button>
                            </form>

                            <span id="amount_{{ product.id }}" >
                                {{ product.amount }}
                            </span>

                            <!-- add button -->
                            <form method="post" action="{% url 'main:add_amount' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="add-button" style="border-width: 0; margin-left: 10px;">+</button>
                            </form>

                        </td>
                        <td class="form-input" >{{product.date_added}}</td>
                        <td class="form-input">
                            <form method="post" action="{% url 'main:delete_product' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">🗑 Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            <br />
            
            <a href="{% url 'main:create_product' %}">
                <button class="button">
                    Add New Product
                </button>
            </a>

            <br />

            <a href="{% url 'main:logout' %}">
                <button class="button">
                    Logout
                </button>
            </a>

            <h5>Sesi terakhir login: {{ last_login }}</h5>
        </div>
    </div>
{% endblock content %}
