{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %} 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-card" style="display: flex; flex-direction: column; height: 100%; padding:20px;">
                <h1 class="text-center" style="display: flex; justify-content: center;">Create an account</h1>

                <form method="POST" class="text-center"  style="flex-direction: column;">
                    {% csrf_token %}  
                    <div class="form-register" style="display: flex; flex-direction: column;">
                        {{ form.as_table }}
                    </div>
                    <button class="btn btn-primary btn-block" style="width: 100%; padding: 10px; border-radius: 24px; background-color: rgb(45, 75, 182); color: white; display: flex; align-items: center; justify-content: center; border-style: none;" type="submit">Create account</button>
                </form>

                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}